<div class="grid_10 push_1" id="result-s">
  
  <div class="result-s-subject">
    <!-- фото -->
    <div class="result-s-subject-photo">
      <% if isset_photo?(@subject) %>
        <%= image_tag(@subject.photos.first.image_url(:thumb),                     
            :title => "#{@subject.photos.size} фото") %>
      <% else %>
        <%= image_tag("app/no-photo.gif", :title => "Нет фото") %>
      <% end %>
    </div>
    <div class="result-s-subject-header">
      <% if @subject.active == true %>
        <div class="result-active">
          <%= @subject.typesubject.name %>
          за <%= price_currency(@subject) %>
          |
          <% if have_object?(@subject.room) %>
            <div class="result-s-subject-room">
              <%= to_room(@subject) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="result-inactive">
          <%= @subject.typesubject.name %>
          за <%= price_currency(@subject) %>
          |
          <% if have_object?(s.room) %>
            <div class="result-s-subject-room">
              <%= to_room(@subject) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="result-subject-other-info">
        <div>
          Адресс: <%= @subject.address %>
        </div>
        <% if have_object?(@subject.floor) %>
          <div>
            Этаж: <%= @subject.floor %>
          </div>
        <% end %>
        <% if have_object?(@subject.floorall) %>
          <div>
            Этажность: <%= @subject.floorall %>
          </div>
        <% end %>
        <% if have_object?(@subject.resident) %>
          <div>
            ЖК: <%= @subject.resident.title %>
          </div>
        <% end %>
        <% if have_object?(@subject.district) %>
          <div>
            Район: <%= @subject.district.title %>
          </div>
        <% end %>
        <div>
          <%= puts_properties(@subject) %>
        </div>
        <div>
          Дата добавления: <%= to_date(@subject.created_at) %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>