<h1 class="title-page">
  <%= link_to "Настройки", settings_path %> → Значения для полей
</h1>
<%= flash_msg(flash[:notice]) %>
<%= link_to plus_icon + "Добавить" , new_value_field_path, 
    :class => "btn button-add" %>
<% @typesubjects.each do |t| %>
  <table class="table table-bordered table-striped table-condensed cv-table" id="<%= t.id %>">
    <thead>
      <tr class="valuefield-typesubject-title">
        <th colspan="3"><%= t.name %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Поле</th>
        <th>Значение</th>
        <th>Действия</th>
      </tr>
      <% t.condition_fields.each do |c| %>
        <% c.value_fields.each do |v| %>
          <tr>
            <td><%= c.namefield %></td>
            <td><%= v.valuefield %> </td>
            <td class="actions-buttons">
              <%= link_to edit_icon, edit_value_field_path(v) %>
              <%= link_to delete_icon, v, :method => :delete, 
                :confirm => "Вы уверены?" %>
            </td>          
            </tr>
        <% end %>
      <% end %>      
    </tbody>
  </table>
<% end %>