<h1 class="title-page">
  <%= link_to "Информация о ЖК", e_states_path %> → <%= @state.title %>
</h1>
<%= flash_msg(flash[:notice]) %>
<div id="m-content-advice">
  <div class="m-body-advice">
    <%= raw(@state.description) %>
  </div>
  <div id="website_state_photo_js">
    <% if @state.jk.size > 0 %>
      <%= image_tag @state.jk.url(:thumb) %>
    <% end %>
  </div>
  <div class="m-author-advice">
    Адрес: <%= @state.address %>
  </div>
  <div class="m-w-show-actions">
    <%= link_to "Редактировать", edit_e_state_path(@state) %>
    <%= link_to "Удалить", e_state_path(@state), :method => :delete, :confirm => "Вы уверены?" %>
  </div>
</div>