<div class="row">
  <div class="span12" id="subjects-results">
    <% if @subjects %>
      <h1 class="subjects-results-title">Результат:</h1>
      <div id="sort-search-subjects">
        <span class="sort-search-title">Сортировать по:</span>
        <%= sort_link @search, :price, "по цене" %> | 
        <%= sort_link @search, :area, "по площади" %> |
        <%= sort_link @search, :created_at, "по дате добавления" %>
      </div>
      <% @subjects.each do |s| %>
        <div class="sub-one">
          <div class="photo-sub">
            <% if isset_photo?(s) %>
              <%= link_to(image_tag(s.photos.first.image_url(:thumb),                     
                  :title => "#{s.photos.size} фото"), s) %>
                  <div class="overimage">
                    <span class="overimage-field">
                      Цена: <%= price_currency(s) %>
                    </span>
                    <span class="overimage-field">
                      Площадь: <%= isset_data(s.area) %> м&sup2;
                    </span>
                  </div>
            <% else %>
              <%= link_to(image_tag("app/no-photo.gif", :title => "Нет фото"), s) %>
                  <div class="overimage">
                    <span class="overimage-field">
                      Цена: <%= price_currency(s) %>
                    </span>
                    <span class="overimage-field">
                      Площадь: <%= isset_data(s.area) %> м&sup2;
                    </span>
                  </div>
            <% end %>
          </div>
          <div class="info-about-subject">
            <div class="main-info-about-subject">
              <% if s.active == true %>
                <div class="active-sub">
                  <%= link_to s.typesubject.name, s%>
                  <div class="info-price-subject">
                    за <%= price_currency(s) %>
                  </div>
                  <% if have_object?(s.room) %>
                    <div class="room-subject-title">
                      <%= to_room(s) %>
                    </div>
                  <% end %>
                </div>
              <% else %>
              <div class="inactive-sub">
                <%= link_to s.typesubject.name, s%>
                <div class="info-price-subject">
                  за <%= price_currency(s) %>
                </div>
                <% if have_object?(s.room) %>
                  <div class="room-subject-title">
                    <%= to_room(s) %>
                  </div>
                <% end %>
              </div>
              <% end %>
            </div>
            <div class="other-info-subject">
              <div class="field-other">
                Адресс: <%= s.address %>
              </div>
              <% if have_object?(s.floor) %>
                <div class="field-other">
                  Этаж: <%= s.floor %>
                </div>
              <% end %>
              <% if have_object?(s.floorall) %>
                <div class="field-other">
                  Этажность: <%= s.floorall %>
                </div>
              <% end %>
              <% if have_object?(s.resident) %>
                <div class="field-other">
                  ЖК: <%= s.resident.title %>
                </div>
              <% end %>
              <% if have_object?(s.district) %>
                <div class="field-other">
                  Район: <%= s.district.title %>
                </div>
              <% end %>
              <div class="advanced-info">
                <%= puts_properties(s) %>
              </div>
              <div class="field-other small-field-subject">
                Дата добавления: <%= to_date(s.created_at) %>
              </div>
            </div>
            
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
      <%= flash_msg(flash[:notice]) %>
      <%= paginate @subjects %>
    <% end %>
  </div>
</div>