<h1 class="title-page">Все клиенты</h1>
<%= flash_msg(flash[:notice]) %>
<%= link_to plus_icon + " Добавить" , new_customer_path, :class => "btn button-add" %>

<div class="links-type-customers">
  <%= link_to 'все клиенты', all_customers_path %>
  <%= link_to 'действующие клиенты', customers_path %>
  <%= link_to 'потенциальные клиенты', potentials_path %>
</div>

<%= form_tag(all_customers_path, :method => 'get', :id => 'customers_search')  do %>
  
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  
  <%= text_field_tag :search, params[:search], :placeholder => "Поиск ...", :class => "span3" %>
 
<div id="customer">
  <%= render 'allcustomers' %>
</div>
<% end %>

