<table class="table table-striped table-condensed subjects" id="subjects_table">
  <thead>
    <tr>
      <th><%= sortable "id", "№" %></th>
      <th><%= sortable "typetransaction_id", "Сделка" %></th>
      <th>Объект</th>
      <th><%= sortable "city_id", "Город" %></th>
      <th><%= sortable "room", "Кол-во комнат:" %></th>
      <th>Адрес</th>
      <th><%= sortable "price", "Цена" %></th>
      <th><%= sortable "area", "Площадь" %></th>
      <th>Фото</th>
      <th><%= sortable "active", "Статус" %></th>
      <th>Действия</th>
    </tr>
  </thead>  
  <tbody>
    <% @subjects.each do |s| %>
      <tr>
        <td class="id-table"><%= s.id %></td>
        <td class="id-table"><%= s.typetransaction.name %></td>
        <td><%= link_to(s.typesubject.name, s) %></td>
        <td class="id-table">
          <% if have_object?(s.city) %>
            <%= s.city.name %>
          <% else %>
            Отсутствует
          <% end %>
        </td>
        <td class="id-table"><%= isset_data(s.room) %></td>
        <td class="id-table"><%= s.address %></td>
        <td class="id-table"><%= price_currency(s) %></td>
        <td class="id-table"><%= to_area(s.area) %></td>
        <td class="id-table photo-list"><%= photo_list(s) %></td>
        <td><%= active_subject?(s) %></td>
        <td class="actions-buttons">
          <%= link_to eye_icon, subject_path(s), :title => "Подробнее...",
              :rel => "tooltip" %>
          <%= link_to edit_icon, edit_subject_path(s) %>
          <%= link_to delete_icon, s, :method => :delete, :confirm => "Вы уверены?" %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>
<%= paginate @subjects %>