<div class="alert alert-success" id="subject-photo-complete-msg">
  <a class="close" data-dismiss="alert">×</a>
  Изображение успешно загрузилось
</div>
<%= form_for(@subject, :html => 
  {:multipart => true,:class => "form-horizontal"}) do |f| %>
  <%= error_messages_for(@subject) %>
  <fieldset>
    <legend>Добавить фотографии</legend>
  </fieldset>
  <% key = Rails.application.config.session_options[:key] %>
  <script type="text/javascript">
  $(function(){
    var upload_params = {
      '#{key}' : '<%= cookies[key] %>',
      '#{request_forgery_protection_token}' : '<%= form_authenticity_token %>',
      '_http_accept': 'application/javascript'
    };
    var url = $('#photo_image').attr('rel');
    $('#photo_image').uploadify({
      'uploader'     : '/assets/app/uploadify.swf',
      'script'       : url,
      'fileDataName' : 'photo[image]',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'cancelImg'    : '/assets/app/cancel.png',
      'multi'        : true,
      'scriptData'   : upload_params,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
        $('#photos').append(response);
        $("#subject-photo-complete-msg").show();
       }
     });
  });
  </script>
  <% unless @subject.new_record? %>
    <div id="add-photo-button-form">
      <%= fields_for Photo.new do |f| %>
        <%= f.file_field :image, :rel => subject_photos_path(@subject) %>
      <% end %>  
    </div>
  <% end %>
  <div id="photos">
    <h1>Фотографии:</h1>
    <%= render :partial => "photos/photo", 
        :collection => @subject.photos %>
  </div>
  <div class="clear"></div>
  <div id="back-to-subject">
    <%= link_to icon_arrow_left_white + " Вернуться к объекту",
        subject_path(@subject), :class => "btn btn-primary" %>
  </div>
<% end %>