<div id="cities">
  <h1 class="title-page">
    <%= link_to "Настройки", settings_path %> → Города
  </h1>
  <%= flash_msg(flash[:notice]) %>
  <ul id="cities-list">
    <% @cities.each do |city| %>
      <li>
        <div class="city-title">
          <%= city.name %>
        </div>
        <div class="actions-with-cities">
          <%= link_to edit_icon, edit_city_path(city) %>
          <%= link_to delete_icon, city, :method => :delete,
              :confirm => "Вы уверены?" %>
        </div>
      </li>
    <% end %>
  </ul>
  <h1 class="warning-city">Осторожно! При удалении города, все объекты недвижимости относящиеся к этому городу автоматически удалятся!</h1>
  <%= link_to plus_icon + " Добавить город", new_city_path, :class => "btn" %>
</div>