<div class="grid_12" id="navbar">
  <ul>
    <li><%= link_to "Поиск", root_path %></li>
    <li><%= link_to "Горячие предложения", hot_deals_path %></li>
    <li><%= link_to "Вся недвижимость", all_subjects_path %></li>
    <li><%= link_to "Информация по ЖК", states_path %></li>
    <li><%= link_to "Полезная информация", advices_path %></li>
    <li><%= link_to "О компании", about_path %></li>
    <li><%= link_to "Контакты", contacts_path %></li>
  </ul>
</div>
<div class="clear"></div>