<!DOCTYPE html>
<html>
<head>
  <title><%= w_title %></title>
  <%= stylesheet_link_tag    "website/website", media: "all" %>
  <%= javascript_include_tag "websitemanifest" %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @meta_keywords %>">
  <meta name="description" content="<%= @meta_description %>">
  <meta name="author" content="Kussainov Yerlan">
</head>
<body>
  <div class="container_12">
    <!-- header -->
    <%= render partial: "layouts/website_partials/header" %>
    <!-- content -->
    <div class="grid_12" id="wrapper-content">
      <%= yield %>              
    </div>
    <!-- footer -->
    <%= render partial: "layouts/website_partials/footer" %>
  </div>
</body>
</html>
